# Ignorar archivo de credenciales
credenciales.txt

# Ignorar carpetas de caché de Python
__pycache__/

# Ignorar archivos compilados de Python
*.pyc

# Ignorar carpetas de entornos virtuales
venv/
env/
.venv/

# Ignorar carpeta de configuración local de Azure CLI
.azure/